<!DOCTYPE html>
<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rice and COVID -19</title>
  <link rel="stylesheet" href="./static/flash_style.css?q=1280549780">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- partial:index.partial.html -->
<link href='https://fonts.googleapis.com/css?family=Bungee' rel='stylesheet' type='text/css'>
<div id='root'>
  <div data-text='Welcome to Rice field' id='text'>
    Welcome to Rice field
  </div>
</div>
<!-- partial -->
  <script  src="./static/script.js?q=1280549780"></script>

</body>
</html>
