<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Rice and COVID -19</title>
  <link rel="stylesheet" href="./static/flash_style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link href='https://fonts.googleapis.com/css?family=Bungee' rel='stylesheet' type='text/css'>
<div id='root'>
  <div data-text='You have been entered to Rice field' id='text'>
    You have been entered to Rice field
  </div>
</div>
<!-- partial -->
  <script  src="./static/script.js"></script>

</body>
</html>
